
    <br><br>
    <div>
    </div>
    <div class="bg-white flex p-8 justify-center rounded-2xl shadow-xl">
        <div class="w-1/2 border-r-2 pr-8">
            <h2 class="text-xl font-bold">Audi Q7</h2>
            <p class="text-sm text-gray-400">Car / 1</p>
            <p class="my-5 text-gray-500 text-sm">Audi Q7 is a family SUV with some sports sedan in its DNA. It will
                satisfy those with high-end and high-tech tastes, too, as its cabin is lined with premium materials and
                a host of digital goodies.</p>
            <div class="flex mt-4 gap-4">
            </div>
            <button class=" mt-8 w-full shadow-2xl p-4 text-gray-100 bg-black rounded-md">Download 3D Model</button>
        </div>
        <model-viewer src="../assets/3Dmodels/audiQ7.glb" alt="A 3D model of a car" shadow-intensity="1" camera-controls
            auto-rotate ar disable-pan>
        </model-viewer>
    </div>

<!--
    !!!OLD CODE!!!!
<div class="preview">
    <h3 class="title2">3D Preview</h3>
    <div class="preview3D">
        <model-viewer src="../assets/3Dmodels/audiQ7.glb" alt="A 3D model of a car" shadow-intensity="1" camera-controls
            auto-rotate ar>
        </model-viewer>
    </div>
</div>
<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js">
</script> -->